:root {
	--success: #11deb0;
	--success-hover: #0ec29b;
	--danger: #de113f;
	--danger-hover: #be0d33;
	--warning: #d8d511;
	--warning-hover: #c2bf10;
}

body, html {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

/* Content area, ini akan mengambil ruang yang tersisa */
.content {
	flex: 1;
}

.toast {
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 9999;
}

.floating-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.floating-btn:hover {
	background-color: #555;
	color: #fff;
}

/* Override Bootstrap colors */
.bg-success {
	background-color: var(--success) !important;
}

.text-success {
	color: var(--success) !important;
}

.text-success:hover {
	color: var(--success-hover) !important;
}

.text-bg-success {
	background-color: var(--success) !important;
	color: #fff !important; /* Warna teks putih untuk kontras */
}

.border-success {
	border-color: var(--success) !important;
}

.btn-success {
	background-color: var(--success) !important;
	border-color: var(--success) !important;
}

.btn-success:hover,
.btn-success:focus {
	background-color: var(--success-hover) !important;
	border-color: var(--success-hover) !important;
}

.btn-outline-success {
	border: 1px solid var(--success) !important;
}

.btn-outline-success:hover,
.btn-success:focus {
	background-color: var(--success-hover) !important;
	border-color: var(--success-hover) !important;
}

.bg-danger {
	background-color: var(--danger) !important;
}

.text-danger {
	color: var(--danger) !important;
}

.text-danger:hover {
	color: var(--danger-hover) !important;
}

.text-bg-danger {
	background-color: var(--danger) !important;
	color: #fff !important; /* Warna teks putih untuk kontras */
}

.border-danger {
	border-color: var(--danger) !important;
}

.btn-danger {
	background-color: var(--danger) !important;
	border-color: var(--danger) !important;
}

.btn-danger:hover,
.btn-danger:focus {
	background-color: var(--danger-hover) !important;
	border-color: var(--danger-hover) !important;
}

.bg-warning {
	background-color: var(--warning) !important;
}

.text-warning {
	color: var(--warning) !important;
}

.text-warning:hover {
	color: var(--warning-hover) !important;
}

.text-bg-warning {
	background-color: var(--warning) !important;
	color: #000 !important; /* Warna teks hitam untuk kontras */
}

.border-warning {
	border-color: var(--warning) !important;
}

.btn-warning {
	background-color: var(--warning) !important;
	border-color: var(--warning) !important;
}

.btn-warning:hover,
.btn-warning:focus {
	background-color: var(--warning-hover) !important;
	border-color: var(--warning-hover) !important;
}

.page-item {
	margin: 0 3px;
}

.page-item .page-link {
	border-radius: 4px;
	border: none;
}

.page-item:not(.active) .page-link {
	background-color: #fafafa;
}

.page-item.disabled .page-link {
	background-color: #eee;
}

.modal {
	z-index: 9999 !important;
}

.modal-backdrop {
	z-index: 9990 !important;
}

@media (max-width: 430px) {
	.toast {
			bottom: 20px;
			right: 5px;
			z-index: 9999;
			height: 90px;
	}
}
